@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaro:opsz@6..72&family=Jersey+25&display=swap');
@import 'scss-reset/total-reset';

$font-primary: 'Helvetica Neue', Arial, sans-serif;
$font-logo: 'Jersey 25', sans-serif;

$background-color: #F8F8F8;
$navbar-color: #3a9cc680;
$font-color: #080D0C;

:global(body) {
  font-family: $font-primary;
  background-color: $background-color;
  color: $font-color;
  margin: 0;
}

:global(::-webkit-scrollbar) {
  width: 0;
}
